{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" href="{% static 'styles\testingRandomThings.css' %}">
    <title>fucking kill me <3 </title>
  </head>

  <body>

    <!-- 
      Navbar
    -->
    <nav class="navbar navbar-expand-lg navbar-dark flex-md-row bd-navbar">

      <!-- 
        Homepage link
       -->
      <a class="navbar-brand align-items-center"  >
        <img src="{% static 'images\logo.png' %}" class="rounded img-fluid col-sm rounded mx-auto logo-image" alt="Responsive image" >
        Tốn Liền's super pretty web
      </a>

      
      <!-- 
        Responsive button for when the window size get small
       -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 
        Other buttons to lead to other URLs
       -->
      <div class="collapse navbar-collapse align-content-center" id="navbarNav">
        <ul class="navbar-nav ">
          <!-- 
            Home button
           -->
          <li class="nav-item active ">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- 
            Feature button
           -->
          <li class="nav-item ">
            <a class="nav-link" href="#feature">Features</a>
          </li>
        </ul>

        <!-- 
          Log out button
         -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Log out</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- 
      Little cute dog at the bottom
     -->
    <a href = "https://youtu.be/3NeMPxB37B4" class="hehe">
      <img src="{% static 'images\dog.gif' %}" class="fixed-bottom-left front-layer moving-image dog-image" alt="doggo swimming">
    </a>
    
    <!-- Welcome text - Currently left blank -->
    {% comment %} <div class="welcome-text text-left" >
    </div> {% endcomment %}


    <div class="welcome-text-outer">
      <!-- 
        Column 3
       -->
        <div class="p-3 welcome-settings welcome-text-outer" >

          <h1 class="text-center welcome-text">ANGLaiS</h1>
          <p class="text-center sub-welcome-text"> Free language learning service </p>
        </div>
    </div>
    <!-- 
      3 Columns for 3 functionalities
     -->
    
    <div class="row justify-content-between px-5 outer_column"  >
      <div class="col-sm mx-auto screen_side_separator" >
        <!-- 
          Column 1
         -->
        <div class="p-3 column-settings"   id="feature" >
          <!-- Column 1 - image -->
          <img src="{% static 'images\logo.png' %}" class="rounded img-fluid rounded mx-auto d-block" alt="Responsive image" >
          <!-- Column 1 - text -->
          <p class="text-center" >
            <a href = "{% url 'flashcard:flash_card_home_view' %}"  >Flash Card</a>
          </p>
        </div>
      </div>
      <div class="col-sm mx-auto screen_side_separator">
        <!-- 
          Column 2
         -->
        <div class="p-3 column-settings" >
          <img src="{% static 'images\logo.png' %}" class="rounded img-fluid rounded mx-auto d-block" alt="Responsive image" >
          <p class="text-center">One of three columns</p>
        </div>
      </div>
      <div class="col-sm mx-auto screen_side_separator" >
        <!-- 
          Column 3
         -->
        <a class="text-center overall_div no-underline"  >
          <div class="p-3 column-settings" >
            <img src="{% static 'images\logo.png' %}" class="rounded img-fluid rounded mx-auto d-block" alt="Responsive image"  >
            <p class="text-center">
              <a href = "{% url 'flashcard:mastermind' %}">English Mastermind</a>
            </p>
          </div>
        </a>
      </div>
      
    </div>

    <!-- 
      Column 3
      -->
      <div class="p-3 end-settings" >

        <h1 class="end-text">Contact us</h1>
        <p class="sub-end-text">facebook: Dumamay</p>
        <p class="sub-end-text">Instagram: Cailonma</p>
        <p class="sub-end-text">Youtube: TonLien</p>
        <p class="sub-end-text">contactcailonay</p>
      </div>
    
    

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>