{% extends "base1.html" %}
{% load static %}

{% block title %}Edit Word{% endblock %}

{% block content %}
  
  <!DOCTYPE html>
  <html lang="en">
    <head></head>
    <body>
      <link rel="stylesheet" href="{% static 'styles\general\general.css' %}" />
      <div class="outer_most">
        <h1> Edit Word </h1>

        <form method="post">
            {% csrf_token %}
                <div class="language">
                    <p>Original Language: {{form.or_lan}}</p>
                    <p>Original Word: </p> {{form.ori_word}}
                </div>
                <div class="translation">
                    <p>New Language: {{form.ne_lan}}</p>
                    <p>Translated Word: </p> {{form.trans_word}}
                </div>
            
                
            <input type="submit" value="Submit"/>
        
        </form>
        <form action="{% url 'flashcard:delete_word' form_id word.id %}" method = "post" style = "display: inline;">
            {% csrf_token %}
            <input type="submit" value="Delete" onclick ="return confirm('Are you sure you want to delete this word?');">
        </form>
      </div>
    </body>
  </html>
{% endblock %}