{% extends 'base1.html' %}
{% load static %}


{% block content %}

<h1> Edit Word </h1>

<form method="post">
    {% csrf_token %}
    {{form.or_lan}} | {{form.ori_word}} | {{form.trans_word}} | {{form.ne_lan}}
    <input type="submit" value="Submit"/>

</form>
<form action="{% url 'flashcard:delete_word' form_id word.id %}" method = "post" style = "display: inline;">
    {% csrf_token %}
    <input type="submit" value="Delete" onclick ="return confirm('Are you sure you want to delete this word?');">
</form>



{% endblock %}