<!-- List of StudySet  -->

{% block content %}
    <div class="card">
        <div class ="card-header card-header-secondary">
            <h1>StudySet</h1>
            <a href="{% url 'flashcard:new_studyset' %}" >Create new studyset</a>
        </div>
        <ul>
            {% for studyset in studysets %}
                <li class="card-body">
                    {{ studyset.title }} | 
                    <a href="{% url 'flashcard:update_studyset' studyset.id %}">Edit</a> | 
                    <form action="{% url 'flashcard:delete_studyset' studyset.id %}" method = "post" style = "display: inline;">
                        {% csrf_token %}
                        <input type="submit" value="Delete" onclick ="return confirm('Are you sure you want to delete this studyset?');">
                    
                    </form>
                
                </li>
                
            {% endfor %}

        </ul>

    </div>
{% endblock %}