{% extends "base1.html" %}
{% load static %}

{% block title %}Workspace{% endblock %}

{% block content %}
  
  <!DOCTYPE html>
  <html lang="en">
    <head></head>
    <body>
      <link rel="stylesheet" href="{% static 'styles\general\general.css' %}" />
      <link rel="stylesheet" href="{% static 'styles\workspace\workspace.css' %}" />
      <div class="outer_most">
        <div class="header_card">
            {% comment %} <div class ="card-header card-header-secondary"> {% endcomment %}
                <h1 class="header">My Workspace</h1>
                <a href="{% url 'flashcard:new_studyset' %}" class="btn">Create new studyset</a>
            {% comment %} </div> {% endcomment %}
        </div>

            {% comment %} <ul> {% endcomment %}
            {% for studyset in studysets %}
                <div class="studyset">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">{{ studyset.title }}</h1>
                            <div class="buttons">
                                <div class="not_delete">
                                <a href="{% url 'flashcard:update_studyset' studyset.id %}" class="btn btn-primary">Edit</a>
                                <a href="{% url 'flashcard:learn' studyset.id %}" class="btn btn-success">Learn</a>
                                
                                </div>
                                <form action="{% url 'flashcard:delete_studyset' studyset.id %}" method="post" style="display: inline-block;">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this studyset?');">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

    
            {% comment %} </ul> {% endcomment %}

    
    </div>

    {% comment %}
    <script type="text/javascript">
        function learnStudySet(studyset) {
            if (studysetsLength === 0) {
                alert('Không có nội dung để học.');
            } else {
                window.location.href = `{% url 'flashcard:learn' studyset.id %}`;
            }
        }
    </script>
    {% endcomment %}
        


    </body>
  </html>
{% endblock %}