final_project
anglais\english_mastermind\__pycache__
anglais\english_mastermind\migrations
anglais\anglais\__pycache__
anglais\account\__pycache__
anglais\account\migrations
anglais\flashcard\migrations
anglais\flashcard\__pycache__