tonlien
anglais\anglais\__pycache__\__init__.cpython-311.pyc
anglais\anglais\__pycache__\settings.cpython-311.pyc
anglais\anglais\__pycache__\urls.cpython-311.pyc
anglais\anglais\__pycache__\wsgi.cpython-311.pyc