@font-face {
  font-family: 'PerfectlyVintages';
  src: url('./public/font/perfectlyvintagesfontbykeithzo.otf') format('opentype');
}

.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-icon {
  fill: var(--dl-color-gray-500);
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.feature-card2-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}



@media(max-width: 1600px) {
  .feature-card2-root-class-name2 {
    width: auto;
    align-self: stretch;
  }
  .feature-card2-root-class-name3 {
    width: auto;
  }
}
@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container {
    flex-direction: column;
  }
}

.testimonial-card1-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-icon {
  width: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card1-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card1-text {
  color: var(--dl-color-gray-500);
  text-align: center;
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card1-text1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card1-text2 {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.testimonial-card1-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}



@media(max-width: 991px) {
  .testimonial-card1-text2 {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .testimonial-card1-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card1-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-icon {
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card1-text {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card1-text1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .testimonial-card1-text2 {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  /* min-height: 100vh; */
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.home-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-banner {
  width: 100%;
  height: 349px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.home-text08 {
  color: #3600ff;
  font-size: 3rem;
  text-align: center;
  font-family: "PerfectlyVintages";
}
.home-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text11 {
  text-align: center;
}
.home-text21 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-button {
  color: #000000;
  width: 218px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: #202020;
  border-style: dashed;
  border-width: 3px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #fbfbfb;
}
.home-button:hover {
  transform: scale(1.02);
}
.home-text25 {
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
}
.home-hero {
  width: 100%;
  height: 612px;
  display: flex;
  position: relative;
  max-width: 100%;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.home-container2 {
  width: 1312px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text28 {
  color: #6c44ff;
  font-size: 3rem;
  max-width: 450px;
}
.home-container3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image1 {
  top: 5px;
  left: 1055px;
  width: 576px;
  height: 578px;
  position: absolute;
  object-fit: cover;
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-text36 {
  color: #7053fd;
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #232323;
}
.home-container4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text37 {
  color: var(--dl-color-gray-white);
}
.home-text40 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container5 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
.home-footer {
  width: 100%;
  height: 215px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image2 {
  height: 2rem;
  object-fit: cover;
}
.home-button1 {
  color: #ffffff;
  width: 368px;
  height: 79px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-color: #202020;
  border-style: dashed;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #232323;
}
.home-button1:hover {
  transform: scale(1.02);
}
.home-text43 {
  font-family: "Inter";
}
.home-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1600px) {
  .home-text08 {
    color: #3600ff;
  }
  .home-text11 {
    width: 736px;
    height: 63px;
  }
  .home-hero {
    width: 1564px;
    height: 672px;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    padding-top: var(--dl-space-space-threeunits);
    margin-right: 0px;
    padding-left: var(--dl-space-space-threeunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .home-container2 {
    width: 1307px;
    height: 249px;
    position: static;
    align-self: center;
  }
  .home-image1 {
    top: 16px;
    left: 714px;
    width: 650px;
    height: 632px;
    position: absolute;
    align-self: stretch;
    animation-name: fadeIn;
    padding-bottom: 0px;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-text36 {
    font-size: 3rem;
  }
  .home-testimonial {
    background-color: #232323;
  }
  .home-container4 {
    width: 1581px;
  }
  .home-text37 {
    color: #ffffff;
    width: auto;
    height: auto;
  }
  .home-text40 {
    color: #ffffff;
  }
}
@media(max-width: 1200px) {
  .home-container {
    background-color: #ffffff;
  }
  .home-banner {
    height: 364px;
  }
  .home-text08 {
    font-size: 3rem;
  }
  .home-text11 {
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-text12 {
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-text13 {
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-text14 {
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-text15 {
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-text16 {
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-text17 {
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-hero {
    width: 1188px;
    height: 635px;
    position: relative;
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container2 {
    width: 1095px;
    height: 159px;
    align-self: flex-start;
  }
  .home-text28 {
    font-size: 3rem;
  }
  .home-image1 {
    width: 464px;
    height: 453px;
    align-self: flex-start;
    padding-right: 0px;
  }
  .home-text37 {
    color: #ffffff;
  }
  .home-text40 {
    color: #ffffff;
    font-size: 0.75rem;
  }
}
@media(max-width: 991px) {
  .hide_on_small {
    display: none;
  }
  .home-banner {
    height: 412px;
    background-size: cover;
    background-image: url('https:ds//play.teleporthq.io/static/svg/default-img.svg');
  }
  .home-text11 {
    width: 624px;
  }
  .home-text21 {
    max-width: 100%;
  }
  .home-hero {
    flex: initial;
    width: var(--dl-size-size-maxwidth);
    flex-direction: column;
  }
  .home-container2 {
    width: 387px;
    height: 279px;
    padding-top: 0px;
    padding-right: 0px;
  }
  .home-image1 {
    top: 121px;
    left: 624px;
    width: 416px;
    height: 398px;
  }
  .home-text37 {
    text-align: center;
  }
  .home-text40 {
    text-align: center;
  }
  .home-container5 {
    grid-template-columns: 1fr;
  }
  .home-button1 {
    width: 230px;
  }
}
@media(max-width: 767px) {
  
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .home-text04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-banner {
    height: 428px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-image: url('https://playd.teleporthq.io/static/svg/default-img.svg');
  }
  .home-text08 {
    width: 483px;
    height: 86px;
    font-size: 3rem;
    font-weight: 700;
  }
  .home-text11 {
    width: 483px;
    height: 105px;
    align-self: center;
  }
  .home-text12 {
    align-self: center;
  }
  .home-text13 {
    align-self: center;
  }
  .home-text14 {
    align-self: center;
  }
  .home-text15 {
    align-self: center;
  }
  .home-text16 {
    align-self: center;
  }
  .home-text17 {
    align-self: center;
  }
  .home-text21 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-hero {
    width: 766px;
    height: 520px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container2 {
    width: 100%;
    height: 211px;
    padding: var(--dl-space-space-halfunit);
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    border-color: #ffffff;
    border-width: 1px;
    padding-left: var(--dl-space-space-unit);
    border-radius: 15%;
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .home-text28 {
    font-size: 3rem;
  }
  .home-container3 {
    width: 100%;
    text-align: center;
  }
  .home-text29 {
    text-align: initial;
  }
  .home-text32 {
    text-align: initial;
  }
  .home-text35 {
    text-align: initial;
  }
  .home-image1 {
    width: 100%;
    height: 375px;
    position: static;
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-button1 {
    width: 185px;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-banner {
    height: 459px;
    position: relative;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    background-image: url('https://fdfdplay.teleporthq.io/static/svg/default-img.svg');
  }
  .home-text08 {
    width: 393px;
    height: 119px;
  }
  .home-text11 {
    width: 385px;
    align-self: center;
    padding-top: 11px;
    padding-bottom: 0px;
  }
  .home-text12 {
    z-index: 100;
    align-self: center;
  }
  .home-text13 {
    z-index: 100;
    align-self: center;
  }
  .home-text14 {
    z-index: 100;
    align-self: center;
  }
  .home-text15 {
    z-index: 100;
    align-self: center;
  }
  .home-text16 {
    z-index: 100;
    align-self: center;
  }
  .home-text17 {
    z-index: 100;
    align-self: center;
  }
  .home-button {
    width: 175px;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero {
    height: 675px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .home-container2 {
    width: 329px;
    position: static;
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-container3 {
    width: 308px;
    height: 104px;
    padding-right: 0px;
  }
  .home-image1 {
    width: 364px;
    height: 484px;
    padding-top: 37px;
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-button1 {
    width: 175px;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}

