.blog-post-card2-blog-post-card {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
    transition: 0.3s;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-post-card2-blog-post-card:hover {
    transform: scale(1.02);
  }
  .blog-post-card2-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 0px;
  }
  .blog-post-card2-container {
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .blog-post-card2-container1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-post-card2-text {
    color: var(--dl-color-gray-500);
    font-weight: 600;
    text-transform: uppercase;
  }
  .blog-post-card2-text1 {
    color: var(--dl-color-gray-500);
    font-weight: 300;
  }
  .blog-post-card2-text2 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card2-text3 {
    color: var(--dl-color-gray-500);
    font-size: 1.25rem;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .blog-post-card2-container2 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog-post-card2-text4 {
    color: var(--dl-color-gray-black);
    font-style: normal;
    font-weight: 500;
  }
  
  
  
  @media(max-width: 991px) {
    .blog-post-card2-blog-post-card {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  @media(max-width: 767px) {
    .blog-post-card2-blog-post-card {
      flex-direction: column;
    }
    .blog-post-card2-image {
      width: 100%;
    }
  }
  @media(max-width: 479px) {
    .blog-post-card2-container2 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .blog-post-card2-text4 {
      width: auto;
    }
  }
  
  .sub-home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
  }
  .home-banner {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text {
    width: 1919px;
    height: 78px;
    font-size: 3rem;
    text-align: center;
    font-family: "PerfectlyVintages";
  }
  .home-text1 {
    text-align: center;
  }
  .home-blog {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container1 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container2 {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
  .home-banner1 {
    width: 100%;
    height: 132px;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #333333;
  }
  .home-footer {
    width: 100%;
    height: 0px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-image {
    height: 2rem;
    object-fit: cover;
  }
  .home-text5 {
    color: #ffffff;
  }
  @media(max-width: 1600px) {
    .home-text {
      width: 1599px;
    }
    .home-blog {
      width: 100%;
    }
    .home-footer {
      width: 100%;
      height: 27px;
      padding-top: var(--dl-space-space-twounits);
      padding-bottom: var(--dl-space-space-twounits);
      background-color: #333333;
    }
  }
  @media(max-width: 1200px) {
    .home-text {
      width: 1199px;
      margin-right: 0px;
    }
    .home-footer {
      width: 100%;
      height: 84px;
    }
  }
  @media(max-width: 991px) {
    .home-text {
      width: 990px;
    }
    .home-banner1 {
      height: 123px;
      background-color: #333333;
    }
    .home-footer {
      height: 0px;
      background-color: #333333;
    }
  }
  @media(max-width: 767px) {
    .home-banner {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-text {
      width: 488px;
      height: 153px;
      padding-bottom: 0px;
    }
    .home-blog {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-banner1 {
      height: 127px;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-footer {
      height: 50%;
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-text5 {
      text-align: center;
      margin-left: var(--dl-space-space-unit);
      margin-right: var(--dl-space-space-unit);
    }
  }
  @media(max-width: 479px) {
    .home-banner {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-text {
      width: 399px;
      height: 137px;
    }
    .home-blog {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-banner1 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-footer {
      height: 0px;
      padding: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-image {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text5 {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  