<!------
   _       _    _   _____     _    _____   _       _______  __   __
  | |     | |  | | |  __ \   (_)  |  ___| | |     |  _____| \ \_/ /
  | |     | |  | | | |  \ \   _   | |__   | |     | |___     \   /
  | |___  | |__| | | |___| | | |  |  __|  | |___  |  ___|    / _ \
  |_____| |______| |_______| |_|  |_|     |_____| |_______| /_/ \_\

 
          Ludiflex - www.youtube.com/@ludiflex - www.ludiflex.com
       
------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Boostrap Login | Ludiflex</title>
</head>
<body>

    <!----------------------- Main Container -------------------------->



    <!----------------------- Login Container -------------------------->



    <!--------------------------- Left Box ----------------------------->



    <!-------------------- ------ Right Box ---------------------------->
        

</body>
</html>