{% load bootstrap4 %}
{% load static %}
{% block content %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link href="/static/styles/mastermind.css" rel="stylesheet"/>

<button class="btn btn-primary rounded-circle circle-button">
    <img alt="logo" src="{% static 'image\anglais.png' %}" class="home-image" />
</button>
<br><br>
<br><br>

<div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
        <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b class = "icon"> 𓆤 </b>
              <b class = "name">Mastermind</b>
            </div>
            {%csrf_token%}
            <div class="message-block">
              <div class="record">
                <button id="voiceButton" class="voice-button">▶</button>
              </div>
              <div class="message-content">
                Hey there, I’m Mastermind! We’re about to have a quick chat. First up, click the button below to create a new clause. When you’re ready, just start reading it out loud.
              </div>
              <audio id="audioPlayer" controls>
                  <source src="{% static 'audio/first.wav' %}" type="audio/wav">
                  <embed height="50" width="100" src="{% static 'audio/first.wav' %}">
              </audio>
            </div>
            <div class="prompt-clause" id="promptClause"></div>
          </div>
        </li>
        {%csrf_token%}
        <li class = "next-clause">
          <button class="next-button"> Learning a new clause </button>
        </li>
        
      </ul>
</div>

<script src="{% static 'styles/main.js' %}"></script>
{% endblock %}
